<h1> <%= meetup.name %> </h1>

<li>Description: <%= meetup.description %></li>

<li> Location: <%= meetup.location %></li>

<form action='/<%= meetup.id %>' method="post">
  <input type="submit" value="Join Meetup">
</form>
